*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  
  
    background-color:rgb(43, 42, 42);
    
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/87378/pexels-photo-87378.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Adjust opacity here */
    z-index: -1; /* Send it behind content */
  }
  .content {
    position: relative;
    z-index: 1;
  }